
<div>
    <div class="col-md-2">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="toggleGender()">
                    <span ng-class="isFemale ? 'fi-female-symbol' : 'fi-male-symbol'"></span>
                </button>
            </span>
            <input type="search"
                   class="form-control container"
                   placeholder="search for name..."
                   ng-model="filter"
                   ng-change="filterChanged()" />
        </div>
        <div class="list-group">
            <a class="list-group-item" 
                ng-click="getSimilarCountries(babyName)" 
                ng-repeat="babyName in filteredBabyNames">
                {{babyName.Name}}
                <span class="badge" ng-show="babyName.CountriesWithSimilarNameCount > 1">{{babyName.CountriesWithSimilarNameCount}}</span>
            </a>
        </div>
    </div>
    <div class="col-md-10">
        <app-worldmap on-selection-changed="onSelectionChanged(countryCodes)" 
                      highlighted-country-codes="similarCountryCodes" />
    </div>
</div>
<div ng-hide="hideErrorMessage">
    <span class="label label-danger" >{{errorMessage}}</span>
</div>
