.app-list-scrollable {
    height: 100%;
    margin-bottom: 0;
    overflow: auto;
}

@media (min-width: 768px){
    .container-md-height {
        display: table;
        width : 100%; 
        height : 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .row-md-height {
        display: table-row;
    }
    .col-md-height {
        vertical-align: top;
        display: table-cell;
        float: none;
    }
}
