
<div class="container-fluid container-md-height">
    <div class="row row-md-height fill-screen">
        <section class="col-md-10 col-md-push-2 col-md-height">
            <app-worldmap on-selection-changed="onSelectionChanged(countryCodes)"
                          highlighted-country-codes="similarCountryCodes" />
        </section>
        <aside class="col-md-2 col-md-pull-10 col-md-height">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="toggleGender()">
                        <span ng-class="isFemale ? 'fi-female-symbol' : 'fi-male-symbol'"></span>
                    </button>
                </span>
                <input type="search"
                       class="form-control container"
                       placeholder="search for name..."
                       ng-model="filter"
                       ng-change="filterChanged()" />
            </div>
            <div class="list-group app-list-scrollable">
                <a class="list-group-item"
                   ng-click="getSimilarCountries(babyName)"
                   ng-repeat="babyName in filteredBabyNames">
                    {{babyName.Name}}
                    <span class="badge" ng-show="babyName.CountriesWithSimilarNameCount > 1">{{babyName.CountriesWithSimilarNameCount}}</span>
                </a>
            </div>
        </aside>
    </div>
</div>
<div class="container-fluid" ng-hide="hideErrorMessage">
    <span class="label label-danger" >{{errorMessage}}</span>
</div>
